pg_config.sh

# ignore raw data files
/raw-data-processing/*/*.shp
/raw-data-processing/*/*.shx
/raw-data-processing/*/*.dbf
/raw-data-processing/*/*.cpg
/raw-data-processing/*/*.prj
/raw-data-processing/*/*.qpj
#/raw-data-processing/cerrado/*.*
#/raw-data-processing/amazon/*.*
#/raw-data-processing/legal_amazon/*.*
#/raw-data-processing/pampa/*.*
#/raw-data-processing/pantanal/*.*

*.log